*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /*All hexadecimal color codes from color palette converted to RGB color
  so that alpha values can be used. Color palette in HEX code originally
  
    --background1: #f8D000;
    --color1: #000000;
    --background2: #947C00;
    --color2: #010101;
    -background3: #B89B00;
  */
  
:root{
    --background1: rgb(248, 208, 0);
    --background2: rgb(148, 124, 0);
    --background3: rgb(184, 155, 0);
    --background_alpha1: rgba(248, 208, 0, 0.5); 
    --background_alpha2: rgba(248, 208, 0, 0.5); 
    --color1: rgb(0, 0, 0);
    --color2: rgb(1, 1, 1);     
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    height: 100vh;
    margin: 0 auto ;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, var(--background_alpha1), var(--background_alpha2));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 5vh auto;
    border-bottom: 0.2rem solid var(--background2);
    padding: 1rem;  
}
  
header h1{
    margin: 0;
}

header img{
    width: 8rem;
    margin-right: 3rem;
    border-radius: 7rem;
}
  
header h1{
    color: var(--background2);
    font-weight: bold;
    text-shadow: 0.1rem -0.1rem 0.1rem black;
} 

/*--------------------------------------------------------------
        Styling of all Instructions and Start JS Quiz button
----------------------------------------------------------------*/

#instructions h2{
    text-align: center;
    margin-bottom: 3rem;
    color: var(--background2);
    font-weight: bold;
    font-size: 2.7rem;
    text-shadow: 0.3rem -0.2rem 0.2rem black;
}
  
#instructions p{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

#startQuizBtn {
    display: block;
    margin: 5rem auto 0 auto;
    padding: 1.4rem;
    background-color: var(--background2);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.4rem -0.4rem 1rem var(--color1);
}
  
#startQuizBtn:hover {
    background-color: var(--background3);
}

/*----------------------------------------------------------
              Styling of Quiz Container | Sizing
-----------------------------------------------------------*/

.container {
    width: 60vw;
    height: auto;
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.4rem 0.4rem var(--color1);
    border-radius: 0.7rem;
    text-align: center;
    display: none;
    margin-bottom: 30vh;
    background: linear-gradient(45deg, var(--background1), var(--background2));
}

/*----------------------------------------------------------
            Styling of submit, retry, showAnswer button
-----------------------------------------------------------*/

#submit,
#retry,
#showAnswer{
  display: block;
  margin: 3rem 0 0 2rem;
  padding: 1.4rem;
  background-color: var(--background2);
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0.4rem -0.4rem 1rem var(--color1);
}

/*----------------------------------------------------------
              Styling of quiz container | Content
-----------------------------------------------------------*/

.question-counter{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.question{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.6rem;  
}

/* Styles for radio buttons and labels */
.option {
    display: block;
    margin-bottom: 1.4rem;
    text-align: left;
}
  
.option:first-child{
    margin-top: 2rem;
}
  
.option input[type="radio"] {
    vertical-align: middle;
    padding-left: 5rem;
    margin-right: 1rem;
}

/*Style of the answer-text for the radio buttons*/

.options .option {
    font-size: 1.6rem;
}

/*--------------------------------------------------------------------
                      Custom styling of radio buttons
---------------------------------------------------------------------*/

/*https://moderncss.dev/pure-css-custom-styled-radio-buttons/ was used for this*/

.option input[type="radio"] {
    appearance: none; 
}
  
.option input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    border: 0.3rem solid var(--color1);
    border-radius: 50%; 
    background-color: var(--background1); 
    margin-right: 8px; 
}
  
/* background color of radio button when checked */
  .option input[type="radio"]:checked::before {
    background-color: var(--color1);
}
  
/* Transition for a smooth color change */
  .option input[type="radio"]::before {
    transition: background-color 0.3s ease;
}
  

/*-----------------------------------------------------------------------------------
                      Styling of result container
------------------------------------------------------------------------------------*/

.result-container .incorrect{
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: 1.8rem;
}
  
.incorrect-answer {
    margin-top: 2rem;
    font-size: 1.7rem;
}

.smiley-text{
    font-size: 2rem;
    margin-top: 2.5rem;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--color1);
}
  
.final-score-text{
    font-size: 2rem;
    font-weight: bold;
    margin-top: -0.7rem;
    color: rgba(255,255,255,0.8);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--color1);
}

/*-----------------------------------------------------------------------------------
                      Responsiveness
------------------------------------------------------------------------------------*/

@media screen and (max-width: 1200px){
    .container{
     width: 70vw;
     margin-bottom: 20vh;
    }
   
    .options .option {
     font-size: 1.5rem;
     display: flex;
     align-items: center;
    }
   
    .option input[type="radio"] {
     vertical-align: middle;
     margin-right: 0.5rem;
     padding-left: 0.5rem;  
    }
   
   body{
     height: 100vh;
    }
}
    
@media screen and (max-width: 768px){
   .container{
       width: 85vw;
    }
     
   .options .option {
       font-size: 1.4rem;
    }
    
    header{
       flex-direction: column;
       width: 85vw;   
    }
   
    header h1{
       text-align: center;
       font-size: 2.5rem;
    }
   
    header img{
       width: 10rem;
    }
   
    .container{
       margin-bottom: 30vh;
    }
   
    #startQuizBtn {
       display: block;
       margin: 4rem auto 2rem auto;
    }
   
    body{
     height: 100%;
    }
}
   