*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root{
    --background1: rgb(248, 208, 0);
    --background2: rgb(148, 124, 0);
    --background3: rgb(184, 155, 0);
    --background_alpha1: rgba(248, 208, 0, 0.5); 
    --background_alpha2: rgba(248, 208, 0, 0.5); 
    --color1: rgb(0, 0, 0);
    --color2: rgb(1, 1, 1);     
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    height: 100vh;
    margin: 0 auto ;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, var(--background_alpha1), var(--background_alpha2));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 2vh auto;
    border-bottom: 0.2rem solid var(--background2);
    padding: 1rem;  
}
  
header h1{
    margin: 0;
}

header img{
    width: 8rem;
    margin-right: 3rem;
    border-radius: 7rem;
}
  
header h1{
    color: var(--background2);
    font-weight: bold;
    text-shadow: 0.1rem -0.1rem 0.1rem black;
} 

/*--------------------------------------------------------------
        Styling of all Instructions and Start JS Quiz button
----------------------------------------------------------------*/

#instructions h2{
    text-align: center;
    margin-bottom: 3rem;
    color: var(--background2);
    font-weight: bold;
    font-size: 2.7rem;
    text-shadow: 0.3rem -0.2rem 0.2rem black;
}
  
#instructions p{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-align: center;
}

#startQuizBtn {
    display: block;
    margin: 5rem auto 0 auto;
    padding: 1.4rem;
    background-color: var(--background2);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.4rem -0.4rem 1rem var(--color1);
}

#startQuizBtn:hover {
    background-color: var(--background3);
}

.warning{
    font-weight: bold;
    color: red;
}

/*----------------------------------------------------------
              Styling of Trivia Container | Sizing
-----------------------------------------------------------*/

.container {
    width: 60vw;
    height: auto;
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.4rem 0.4rem var(--color1);
    border-radius: 0.7rem;
    text-align: center;
    display: none;
    margin-bottom: 30vh;
    background: linear-gradient(45deg, var(--background1), var(--background2));
}

/*--------------------------------------------------------------------
            Styling of submitAction, tryAgain, displayAnswer button
----------------------------------------------------------------------*/

#tryAgain,
#displayAnswers{
    display: none;
}

#submitAction,
#tryAgain,
#displayAnswers,
#nextQuestion{
    margin: 3rem 0 0 2rem;
    padding: 1.4rem;
    background-color: var(--background2);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.4rem -0.4rem 1rem var(--color1);
}

/*----------------------------------------------------------
              Styling of trivia container | Content
-----------------------------------------------------------*/

.question-counter{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.question{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.6rem;  
}

/* Styles for radio buttons and labels */
.option {
    display: block;
    margin-bottom: 1.4rem;
    text-align: left;
}
  
.option:first-child{
    margin-top: 2rem;
}
  
.option input[type="radio"] {
    vertical-align: middle;
    padding-left: 5rem;
    margin-right: 1rem;
}

/*Style of the answer-text for the radio buttons*/

.options .option {
    font-size: 1.6rem;
}

/*--------------------------------------------------------------------
        Styling of Answer Statics inside trvia container
---------------------------------------------------------------------*/

#answerStatistics {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-weight: bold;
}

.correct-answers-count {
    text-align: left;
    margin-left: 6%;
    font-size: 1.6rem;
}

.wrong-answers-count {
    text-align: right;
    margin-right: 6%;
    font-size: 1.6rem;
}

/*--------------------------------------------------------------------
        Custom styling of radio buttons
---------------------------------------------------------------------*/

/*https://moderncss.dev/pure-css-custom-styled-radio-buttons/ was used for this*/

.option input[type="radio"] {
    appearance: none; 
}
  
.option input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    border: 0.3rem solid var(--color1);
    border-radius: 50%; 
    background-color: var(--background1); 
    margin-right: 8px; 
}
  
/* background color of radio button when checked */
  .option input[type="radio"]:checked::before {
    background-color: var(--color1);
}
  
/* Transition for a smooth color change */
  .option input[type="radio"]::before {
    transition: background-color 0.3s ease;
}
 
/*-----------------------------------------------------------------------------------
                      Styling of immediate user feedback
------------------------------------------------------------------------------------*/

.correct{ 
    color: green;
    font-weight: bold;
}

.wrong{
    color: red;
    font-weight: bold;
}

.hide{ 
    display: none; 
}

/*-----------------------------------------------------------------------------------
                      Styling of resultDisplay container
------------------------------------------------------------------------------------*/

.correct-answers,
.wrong-answers {
    font-size: 1.6rem;
    padding: 0.7rem 1.3rem;
    border-bottom: 2px solid var(--background2);
    margin-bottom: 1.5rem;
}

.correct-answers{
    text-align: left;
}

.wrong-answers{
    text-align: right;
}

.correct-answers-count {
    color: green;
}

.wrong-answers-count {
    color: red;
}

.correct-heading{
    color: green;
    font-size: 5rem;
}

.wrong-heading{
    color: red;
}

.correct-answers .results,
.wrong-answers .results {
    font-weight: bold;
    font-size: 2.5rem;
}

.correct-answer,
.wrong-answer {
    margin-bottom: 1rem;
  }
  
.resultDisplay-container {
    padding: 0 1.1rem;
}

.results {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.final-score-text{
    font-size: 2.1rem;
    color: white;
    font-weight: bold;
    text-shadow: 0.2rem -0.4rem 0.4rem var(--color1);
}

.result-text{
    font-size: 2.1rem;
    margin-top: 3rem;
    color: white;
    font-weight: bold;
    text-shadow: 0.2rem -0.4rem 0.4rem var(--color1);
}

/*-----------------------------------------------------------------------------------
                      Responsiveness
------------------------------------------------------------------------------------*/

@media screen and (max-width: 1200px){
.container{
    width: 70vw;
    margin-bottom: 20vh;
}

.options .option {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.option input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.5rem;
    padding-left: 0.5rem;  
}

body{
    height: 100vh;
}

.correct-answers-count {
    color: green;
    font-size: 1.5rem;
}

.wrong-answers-count {
    color: red;
    font-size: 1.5rem;
}}
    
@media screen and (max-width: 810px){
.container{
    width: 85vw;
}
    
.options .option {
    font-size: 1.4rem;
}

header{
    flex-direction: column;
    width: 85vw;   
}

header h1{
    text-align: center;
    font-size: 2.5rem;
}

header img{
    width: 10rem;
}

.container{
    margin-bottom: 30vh;
}

#startQuizBtn {
    display: block;
    margin: 4rem auto 2rem auto;
}

body{
    height: 100%;
}

.correct-answers-count {
    color: green;
}

.wrong-answers-count {
    color: red;
}}

@media screen and (max-width: 480px){
.container{
    margin-bottom: 70vh;
}

body{
    height: 100%;
}}

@media screen and (max-width: 430px){
.correct-answers-count {
    margin-left: 2%;
    font-size: 1.4rem;
    color: green;
}

.wrong-answers-count {
    margin-left: 2%;
    font-size: 1.4rem;
    color: red;
}

.correct-answer,
.wrong-answer{
    font-size: 1.5rem;
}}

@media screen and (max-width: 400px){
.options .option {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
    
.option input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-left: -0.2rem;
}
    
.container{
    margin-bottom: 20vh;
}

.correct-answers-count {
    margin-left: 2%;
    font-size: 1.2rem;
    color: green;
}

.wrong-answers-count {
    margin-left: 2%;
    font-size: 1.2rem;
    color: red;
}

.correct-answer,
.wrong-answer{
    font-size: 1.5rem;
}}


@media screen and (max-width: 300px){

#instructions h2{
    font-size: 1.5rem;
    text-shadow: none;
}
      
#instructions p{
    font-size: 1.2rem;
    text-align: center;
}

header h1{
    font-size: 1.3rem;
}

#startQuizBtn,
#submitAction,
#nextQuestion,
#tryAgain,
#displayAnswers  {
    margin: 2rem auto 0 auto;
    padding: 1.1rem;
    font-size: 1rem;
    border: none; 
}

#nextQuestion{
    margin: 2rem 0 0 2rem;
}

.options .option {
    font-size: 1rem;
    }
            
.option input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.4rem;
    margin-left: -0.1rem;
}        
 
.correct-answers-count {
    margin-left: 2%;
    font-size: 1rem;
    color: green;
}
    
.wrong-answers-count {
    margin-left: 2%;
    font-size: 1rem;
    color: red;
}
    
.correct-answer,
.wrong-answer{
    font-size: 1.2rem;
}}

@media screen and (max-width: 200px){

header h1{
    font-size: 1.2rem;
}

#instructions h2{
    font-size: 1rem;
    text-shadow: none;
}
          
#instructions p{
    font-size: 1.2rem;
    text-align: center;
}

.question{
    font-size: 0.9rem;      
}

#startQuizBtn,
#submitAction,
#nextQuestion,
#tryAgain,
#displayAnswers {
    margin: 2rem auto 0 auto;
    font-size: 1rem;     
}    
  
.options .option {
    font-size: 0.6rem;
}

.final-score-text{
    font-size: 1.3rem;
}

.result-text{
    font-size: 1.4rem;
}

p.correct-heading {
    font-size: 1.2rem !important;   
}

p.wrong-heading {
    font-size: 1.2rem !important;   
}

.option input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.4rem;
    margin-left: -0.1rem;
}        
     
.correct-answers-count {
    margin-left: 1%;
    font-size: 0.8rem;
    color: green;
}
        
.wrong-answers-count {
    margin-left: 1%;
    font-size: 0.8rem;
    color: red;
}
        
.correct-answer,
.wrong-answer{
    font-size: 0.7rem;
}}